---
Language: Cpp
BasedOnStyle: WebKit
ColumnLimit: 100

# Brief control flow (e.g. guard statements), otherwise enforce braces
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakTemplateDeclarations: true
IncludeBlocks: Regroup

KeepEmptyLines:
  AtStartOfFile: false

BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 1000
AlignAfterOpenBracket: BlockIndent
BinPackParameters: OnePerLine
