name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  guix-setup:
    runs-on: ubuntu-latest
    outputs:
      guix-installed: ${{ steps.guix-install.outcome }}
    steps:
    - uses: actions/checkout@v4
    - name: Install Guix
      id: guix-install
      run: |
        set -euf -o pipefail
        sudo apt-get update
        sudo apt-get install -y guix
        sudo systemctl start guix-daemon || true
    - name: Install Dev Environment
      working-directory: cpp/qbuf
      run: |
        guix package -m manifest.scm

  lint:
    runs-on: ubuntu-latest
    needs: guix-setup

    steps:
    - uses: actions/checkout@v4
    - name: Check C++ code formatting
      working-directory: cpp/qbuf
      run: |
        guix shell -- sh <<EOF
          find . -name '*.cpp' -o -name '*.hpp' | xargs clang-format --dry-run --Werror
        EOF

  build:
    runs-on: ubuntu-latest
    needs: guix-setup

    steps:
    - uses: actions/checkout@v4
    - name: Check C++ code formatting
      working-directory: cpp/qbuf
      run: |
        guix shell -m manifest.scm -- sh <<EOF
          cmake -S . -B build --fresh \
          && cmake --build build --clean-first \
          && ctest --output-on-failure --test-dir build
        EOF
