name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Guix
      id: guix-install
      run: |
        set -euo pipefail
        sudo apt-get update
        sudo apt-get install -y guix
        sudo systemctl start guix-daemon || true

    - name: Check Guix is available
      run: guix --version

    - name: Install Dev Environment
      working-directory: cpp/qbuf
      run: |
        set -euo pipefail
        guix package -m manifest.scm

    - name: Check C++ code formatting
      working-directory: cpp/qbuf
      run: |
        set -euo pipefail
        guix shell -- sh <<'EOF'
          find . -name '*.cpp' -o -name '*.hpp' | xargs clang-format --dry-run --Werror
        EOF

    - name: Build & Test
      working-directory: cpp/qbuf
      run: |
        set -euo pipefail
        guix shell -m manifest.scm -- sh <<'EOF'
          cmake -S . -B build --fresh \
          && cmake --build build --clean-first \
          && ctest --output-on-failure --test-dir build
        EOF
