name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Guix cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/guix
        # use a key that (almost) never matches
        key: guix-cache-${{ github.sha }}
        restore-keys: |
          guix-cache-
      # Cannot use a cache for /gnu/store, since restore fails

    - name: Install Guix
      uses: PromyLOPh/guix-install-action@v1

    - name: Ensure no locale warning
      run: test -z "$(guix --version 2>&1 >/dev/null)"

    - name: Install Dev Environment
      working-directory: cpp/qbuf
      run: |
        set -euo pipefail
        guix pull -C channels.scm
        guix package -m manifest.scm

    - name: Check C++ code formatting
      working-directory: cpp/qbuf
      run: |
        set -euo pipefail
        guix shell -m manifest.scm -- sh <<'EOF'
          git ls-files --cached --others --exclude-standard -- '**/*.cpp' '**/*.hpp' \
            | xargs clang-format --verbose --dry-run --Werror
        EOF

    - name: Build & Test
      working-directory: cpp/qbuf
      run: |
        set -euo pipefail
        guix shell -m manifest.scm -- sh <<'EOF'
          cmake -S . -B build --fresh \
            && cmake --build build --clean-first \
            && ctest --output-on-failure --test-dir build
        EOF
