name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project
      uses: actions/checkout@v4

    - name: Restore Guix cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cache/guix
          /gnu/store
        key: guix-cache-${{ hashFiles( '**/channels.scm', '**/manifest.scm' ) }}
        restore-keys: |
          guix-cache-

    - name: Install Guix
      uses: PromyLOPh/guix-install-action@v1
      with:
        pullAfterInstall: false

    - name: Ensure no locale warning
      run: test -z "$(guix --version 2>&1 >/dev/null)"

    - name: Install Dev Environment
      run: |
        set -euo pipefail
        guix pull -C channels.scm
        guix package -m manifest.scm

    - name: Check code formatting
      run: |
        guix shell -m manifest.scm -- sh <<'EOF'
          if ( ! git ls-files --cached --others --exclude-standard -- '**/*.cpp' '**/*.hpp' \
              | xargs -r clang-format --verbose --dry-run --Werror )
          then
            echo "::warning::Code formatting check failed"
            exit 1
          fi
        EOF
      continue-on-error: true

    - name: Build & Test
      run: |
        guix shell -m manifest.scm -- sh <<'EOF'
          set -euo pipefail
          cmake -S . -B build --fresh
          cmake --build build --clean-first
          ctest --output-on-failure --test-dir build
        EOF
